* {
   /* Dark Syntax Colors */
   color: #5b858b;
   color: #b2cacd;
   color: #becfda;
   color: #507b95;
   color: #df769b;
   color: #edc9af;
   color: #e4b781;
   color: #cc9900;
   color: #e97749;
   color: #57db6f;
   color: #15ac31;
   color: #7060eb;
   color: #16a3b6;
   color: #49d6e9;
   color: #49ace9;

   /* Minimus Syntax Colors */
   color: #667c7f;
   color: #b8c5c6;
   color: #c5cdd3;
   color: #5e7887;
   color: #c88da2;
   color: #e1cbbc;
   color: #d3b692;
   color: #b3994d;
   color: #d18161;
   color: #70c27f;
   color: #3f8d6c;
   color: #7068B1;
   color: #3f848d;
   color: #72b7c0;
   color: #5998c0;

   /* Light Syntax Colors */
   color: #8db4b4;
   color: #18393e;
   color: #ff5792;
   color: #5842ff;
   color: #e67e00;
   color: #a36538;
   color: #bd8a00;
   color: #e64100;
   color: #00bd23;
   color: #00991c;
   color: #0095a8;
   color: #00bdd6;
   color: #0094f0;
}
