* {
   /* Dark Syntax Colors */
   color: #df769b;
   color: #7060eb;
   color: #d16e47;
   color: #e4b781;
   color: #cc9900;
   color: #58cc6d;
   color: #16a3b6;
   color: #49d6e9;
   color: #647e82;
   color: #bbc3c4;
   /* Light Syntax Colors */
   color: #ed6494;
   color: #5c49e9;
   color: #cc5324;
   color: #dba057;
   color: #b38600;
   color: #14b832;
   color: #00899e;
   color: #00c9db;
   color: #8ca4a6;
   color: #1a4b51;

   /* lighter #40d4e7 */
   /* darker  #169fb1 */
}
