/* /// OPTIONAL ///

you can comment out this part if you don't want to change the default font for the UI

*/

.monaco-workbench {
   font-feature-settings: "ss01";
   font-family: "Cartograph Mono CF", monospace;
}

/* /// REQUIRED ///

classes for italics

*/
[class^="mtk"].mtki {
   font-feature-settings: "ss01";
   font-family: "Cartograph Mono CF";
}
